<div class="col span_12 c-commentsWrap">
	<div class="col span_12 c-commentsControl">
		<div class="col span_3 c-commentsControl__last">
			<a href="#last" id="lastcomments" class="c-commentsControl__last--notactive">Последние отзывы</a>
		</div>
		<div class="col span_5 c-commentsControl__all">
			<a id="allcomments" class="c-commentsControl__all--active" href="#all" alt="">Все отзывы</a>
		</div>
		<div class="col span_4 c-commentsControl__counters">
			<span class="__like_btn js-commentsControl__like_btn"></span>
			<span class="__like js-commentsControl__like">16</span>
			<span class="__quantity_icon"></span>
			<span class="__quantity js-commentsControl__quantity">5</span>
		</div>
	</div>
	<div class="col span_12 c-commentsCnt">
		<div class="c-comments js-comments">
			<div class="col span_12 c-comments__item js-comment__item">
				<span class="c-comments__name">Ann</span>
				<span class="c-comments__date">31/10/2017</span>
				<p class="c-comments__text">
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
					dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud 
					exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
				</p>
			</div>
			<div class="col span_12 c-comments__item js-comment__item">
				<span class="c-comments__name">Ann</span>
				<span class="c-comments__date">31/jrnz,hz/2017</span>
				<p class="c-comments__text">
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
					dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud 
					exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
				</p>
			</div>
			<div class="col span_12 c-comments__item js-comment__item">
				<span class="c-comments__name">Ann</span>
				<span class="c-comments__date">31/10/2017</span>
				<p class="c-comments__text">
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
					dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud 
					exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
				</p>
			</div>
		</div>
	</div>
	<div class="col span_12 c-commentsForm">
		<textarea class="c-commentsForm__text js-commentsForm__text"></textarea>
		<input class="c-commentsForm__name js-commentsForm__name" type="text" maxlength="30" placeholder="Имя...">
		<button type="submit" class="c-commentsForm__send js-commentsForm__send">Написать консультанту</button>
	</div>
</div>
