<div class="col span_12 c-userinfo">
	<div class="col span_3"></div>
	<div class="col span_9 c-userinfo__name">вероника ростова</div>
	<div class="col span_3"></div>
	<div class="col span_9 c-userinfo__job">Mенеджер по продажам</div>
	<div class="col span_1"></div>
	<div class="col span_11 c-userinfo__text">
		<img class="c-userinfo__img" src="img/avatar.png" alt="username" title="username">
		<p>Подберу для вас самые лучшие предложения.<br/> Мои услуги абсолютно бесплатны</p>
	</div>
	<div class="col span_3"></div>
	<div class="col span_9 c-services">
		<p class="c-services__title">Услуги</p>
		<ul class="clearfix c-services__list">
			<li class="col span_11 c-services__item js-services__item1">Ручное бронирование</li>
			<li class="col span_1 c-services__quantity js-services__quantity1">11</li>
			<li class="col span_11 c-services__item js-services__item2">Платные туры</li>
			<li class="col span_1 c-services__quantity js-services__quantity2">3</li>
			<li class="col span_11 c-services__item js-services__item3">Отели</li>
			<li class="col span_1 c-services__quantity js-services__quantity3">1</li>
		</ul>
		<div class="col span_12 c-servicesOverall">
			<div class="col span_9 c-servicesOverall__title">Всего</div>
			<div class="col span_3 c-servicesOverall__quantity js-overall__quantity">15</div>
		</div>
	</div>
</div>

