<section class="l-header">
	<div class="c-header">
		<img src="img/avatar.png" alt="" class="c-header__photo">
		<span class="c-header__name"><strong>вероника ростова</strong></span><br/>
		<small class="c-header__description">менеджер по продажам</small>
		<p class="c-header__text">Подберу для вас самые лучшие предложения.<br/>Мои услуги абсолютно бесплатны</p>
	</div>
	<div class="c-services">
		<ul class="c-services__title">
			<li class="c-services__item"></li>
			<li class="c-services__quantity">Услуги</li>
		</ul>
		<ul class="c-services__list">
			<li class="c-services__item">Ручное бронирование</li>
			<li class="c-services__quantity">11</li>
			<li class="c-services__item">Платные туры</li>
			<li class="c-services__quantity">3</li>
			<li class="c-services__item">Отели</li>
			<li class="c-services__quantity">1</li>
		</ul>
		<ul class="c-services__sum">
			<li class="c-services__item">Всего</li>
			<li class="c-services__quantity">15</li>
		</ul>
	</div>
</section>

