/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0%;
    min-height: 1px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */clear: both; };
    
/*  GRID OF TWELVE  */
.span_1 {
    width:8.33333333333%;
}
.span_2 {
    width:16.6666666667%;
}
.span_3 {
    width:25.0%;
}
.span_4 {
    width:33.3333333333%;
}
.span_5 {
    width:41.6666666667%;
}
.span_6 {
    width:50.0%;
}
.span_7 {
    width:58.3333333333%;
}
.span_8 {
    width:66.6666666667%;
}
.span_9 {
    width:75.0%;
}
.span_10 {
    width:83.3333333333%;
}
.span_11 {
    width:91.6666666667%;
}
.span_12 {
    margin-left:0;
    width:100%;
}