$border_color: #cecabf;
/*userinfo*/
$userinfo_name_fontsize: 1.3em;
$userinfo_job_color: #808080;
$userinfo_job_fontsize: 1em;
$userinfo_text_bg: #fffbc8;
$userinfo_text_padding: 16px 0 16px 16.6666666667%;
$userinfo_text_margin: 5px 0 20px;
$userinfo_avatar_size: 170px;
$userinfo_avatar_radius: $userinfo_avatar_size / 2;
$userinfo_avatar_right: 95%;
/*services*/
$services_title_padding: 0 2% 4px 0;
$services_title_margin: 20px;
$services_item_padding: 4px 6px;
$services_margin: 2px;
/*servicesOverall*/
$servicesOverall_margin: 20px 0;
$servicesOverall_padding: 20px 0 0;
$servicesOverall_fontsize: 1.3em;

.c-userinfo {
	&__name {
		font-size: $userinfo_name_fontsize;
		font-weight: bold;
		text-transform: capitalize;
	}
	&__job {
		color: $userinfo_job_color;
		font-size: $userinfo_job_fontsize;
	}
	&__text {
		position: relative;
		background: $userinfo_text_bg;
		padding: $userinfo_text_padding;
		border: 1px solid $border_color;
		@include border-radius (4px);
		margin: $userinfo_text_margin;
		p {
			margin: 0;
		}
	}
	&__img {
		position: absolute;
		bottom: 0;
		left: -$userinfo_avatar_size / 2;
		width: $userinfo_avatar_size;
		height: $userinfo_avatar_size;
		border-radius: $userinfo_avatar_radius;
	}
}
.c-services {
	&__title {
		text-align: right;
		padding: $services_title_padding;
		border-bottom: 2px solid $border_color;
		margin-bottom: $services_title_margin;
	}
	&__item {
		padding: $services_item_padding;
		margin-bottom: $services_margin;
		transition: 1.3s all ease-in-out;
	}
	&__quantity {
		text-align: center;
	}
	&__list {
		margin: 0;
		border-left: 2px solid #b2b2b2;
		opacity: 0.8;
	}
}

.c-servicesOverall {
	margin: $servicesOverall_margin;
    border-top: 2px solid $border_color;
    padding: $servicesOverall_padding;
    font-size: $servicesOverall_fontsize;
    font-weight: bold;
	&__quantity {
		text-align: right;
		padding-right: 10px;
	}
}

