$userinfo_name_fontsize: 1.1em;
$userinfo_job_fontsize: 0.8em;
$userinfo_text_fontsize: 0.9em;
$userinfo_text_padding: 10px 0 10px 16.6666666667%;
$userinfo_avatar_size: 130px;
$userinfo_avatar_radius: $userinfo_avatar_size / 2;
/*services*/
$services_title_fontsize: 1em;
$services_list_fontsize: 0.9em;
$services_margin: 2px;
/*commentsControl*/
$control_fontsize: 0.9em;
/*comments*/
$comment_date_fontsize: 0.8em;
$comment_text_fontsize: 0.9em;

@media screen and (max-width: 700px) {
	.c-userinfo {
		.c-userinfo__name {
			font-size: $userinfo_name_fontsize;
		}
		.c-userinfo__job {
			font-size: $userinfo_job_fontsize;
		}
		.c-userinfo__text {
			font-size: $userinfo_text_fontsize;
			padding: $userinfo_text_padding;
			p {
				margin:0;
			}
			.c-userinfo__img {
				left: -$userinfo_avatar_size / 2;
				width: $userinfo_avatar_size;
				height: $userinfo_avatar_size;
				border-radius: $userinfo_avatar_radius;
			}
		}
	}
	.c-services {
		.c-services__title {
			font-size: $services_title_fontsize;
		}
		.c-services__list {
			font-size: $services_list_fontsize;
			border-left: 1px solid #b2b2b2;
		}
		.c-servicesOverall {
			font-size: $services_title_fontsize;
		}
	}
	.c-commentsWrap {
		.c-commentsControl {
			font-size: $control_fontsize;
			.c-commentsControl__last {
				width: 35%;
			}
			.c-commentsControl__all {
				width: 35%;
			}
			.c-commentsControl__counters {
				width: 30%;
			}
		}
		.c-commentsCnt {
			.c-comments {
				.c-comments__item {
					.c-comments__date {
						font-size: $comment_date_fontsize;
					}
					.c-comments__text {
						font-size: $comment_text_fontsize;
					}
				}
			}
		}
	}
	
}
